* {
    box-sizing: border-box;
}

html, body {
    margin: 0; 
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    background-color: #83def5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#cnvDiv {
    flex: 1;
    width: 100%;
    /* height: 100%; */
}

canvas {
    width: 100%;
    height: 100%;
    /* background-color: #83def5; */
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.title{
    text-align: center;
    color: #0b1775;
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
    text-shadow: -1px 1px 2px #fff, 1px 1px 2px #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
}

.infoDiv{
    /* background-color: 83def5; */
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 110px;
}

.infoTile{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #0b1775;
    font-size: 20px;
    width:100px;
    height:90px;
    background-image: linear-gradient(#80a2ec,#4871f8, #0162f3 );
    border-radius: 50%;
    margin:auto;
    margin-top:10px;
    padding-top:15px;
    box-shadow: 0 0 6px 6px #89a2f5;
    cursor: pointer;
    
}
.rPB{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #0b1775;
    font-size: 20px;
    width:100px;
    height:90px;
    background-image: linear-gradient(#80a2ec,#4871f8, #0162f3);
    border-radius: 50%;
    margin:auto;
    margin-top:10px;
    padding-top:30px;
    box-shadow: 0 0 6px 6px #89a2f5;
    cursor: pointer;
}
#restartB{
    background-image: linear-gradient(#35353b,#262629, #161617);
    box-shadow:none;
}
.button{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #0b1775;
    font-size: 20px;
    width:180px;
    height:90px;
    background-image: linear-gradient(rgb(133, 203, 206),#68bd8e, #25d669 );
    border-radius: 50%;
    margin:auto;
    margin-top:10px;
    padding-top:25px;
    box-shadow: 0 0 6px 6px #1ba583;
    cursor: pointer;
}

a, a:link, a:visited, a:hover, a:focus, a:active{
    color: #0b1775;
    text-decoration: none;
}

.credInst{
    color: #144cb6;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 70px;
}
#instWr{
    color: #959aa3;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 50px;
}

 
