* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #2e2d2b;
}

canvas {
    width: 100vw;
    height: 100vh;
    float: left;
}
#title{
    text-align: center;
    color: #ad0707;
}
#infoDiv{
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info{
    color: #ad0707;
    font-size: 20px;
}
#pause:hover{
    background-color:white;
}