* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #2e2d2b;
}

canvas {
    width: 100vw;
    height: 100vh;
    float: left;
}
#title{
    text-align: center;
    color: #ad0707;
}
#help{
    float:top;
    width:100px;
    height:700px;
    border: 10px solid #FFFFFF;
    background-color: purple;
}
#sidebar{
    list-style-type: none;
}